@use '../../../sass/variables' as v;

.clock_container {
  display: flex;
  background-color: v.$color_dark_blue;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  margin-top: 2rem;
  top: unset;
  right: unset;

  .inner_container {
    background-color: v.$color_dark_bg;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: unset;

    .actual_clock {
      font-size: v.$font_size_xxl;
      font-weight: v.$font_weight_bold;
    }
  }
}

@media only screen and (min-width: 768px) {
  .clock_container {
    position: absolute;
    margin-top: unset;
    top: 0rem;
    right: 2rem;

    .inner_container {
      box-shadow: 0px 0px 15px 1px v.$color_light_bg;
      // .actual_clock {
      //   font-size: v.$font_size_xxl;
      // }
    }
  }
}
