//*************** Fonts ***************//
$font_family_pacifico: 'Pacifico', serif;
$font_family_lato: 'Lato', serif;

//*************** Colors ***************//

$color_red: #ff6f61;
$color_white: #d5dbe1;
$color_black: #1e1f20;
$color_grey: #5d6976;

$color_dark_bg: #0b121e;
$color_dark_blue: #202b3c;
$color_dark_blue_hover: #2e3d56;

$color_light_bg: #5773a3;
$color_light_blue: #899dc0;
$color_light_blue_hover: #a2b2cd;

//*************** Font sizes ***************//

$font_size_xs: 12px;
$font_size_sm: 14px;
$font_size_md: 16px;
$font_size_lg: 18px;
$font_size_xl: 20px;
$font_size_xxl: 24px;
$font_size_xxxl: 35px;
$font_size_4xl: 45px;
$font_size_5xl: 55px;
$font_size_weather_icon: 85px;

//*************** Font weights ***************//

$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_bold: 700;
