//*************** Fonts ***************//
$font_family_pacifico: 'Pacifico', serif;
$font_family_lato: 'Lato', serif;

//*************** Font sizes ***************//

$font_size_xs: 12px;
$font_size_sm: 14px;
$font_size_md: 16px;
$font_size_lg: 18px;
$font_size_xl: 20px;
$font_size_xxl: 24px;
$font_size_xxxl: 30px;

//*************** Font weights ***************//

$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_bold: 700;
