@use '../sass/variables' as v;
@forward '../sass/templates';

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: v.$font_family_lato;
  background-color: v.$color_dark_bg;
  color: v.$color_white;
  position: relative;
}

//Custom scrollbar
/* Firefox */
html {
  scrollbar-color: #5773a3 #0c1e3a;
  scrollbar-width: auto;
  scrollbar-arrow-color: #5773a3;
  scroll-behavior: smooth;
  scrollbar-darkshadow-color: #2e3d56;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background-color: #0c1e3a;
  color: #5773a3;
}

::-webkit-scrollbar-thumb {
  background: #0c1e3a;
  color: #5773a3;
  border-radius: 5px;
}
