.cities_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 8rem;
  position: relative;
}
.cities_wrapper .title_wrapper {
  width: 100%;
}
.cities_wrapper .title_wrapper .cities_title {
  display: flex;
  text-align: left;
  margin-bottom: 2rem;
  padding-left: 6vw;
}
.cities_wrapper .cities_input_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
}
.cities_wrapper .cities_input_wrapper .cities_input_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.2rem;
  width: 100%;
}
.cities_wrapper .cities_input_wrapper .cities_input_container .cities_input_field {
  width: 70%;
  height: 3rem;
  font-size: 18px;
  border-radius: 1rem;
  background-color: #2e3d56;
  color: #d5dbe1;
  border: none;
  outline: none;
  padding-left: 0.4rem;
}
.cities_wrapper .cities_input_wrapper .cities_input_container .cities_search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0.4rem;
  background-color: #2e3d56;
  border: none;
}
.cities_wrapper .cities_input_wrapper .cities_input_container .cities_search_btn:hover {
  color: #2e3d56;
  background-color: #d5dbe1;
  cursor: pointer;
}
.cities_wrapper .cities_input_wrapper .cities_input_container .cities_search_btn .cities_search_btn_icon {
  font-size: 20px;
}
.cities_wrapper .cities_input_wrapper .cities_alert_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
}
.cities_wrapper .cities_input_wrapper .cities_alert_wrapper .cities_alert_container {
  width: 100%;
  text-align: left;
  margin-bottom: 4rem;
  position: relative;
}
.cities_wrapper .cities_input_wrapper .cities_alert_wrapper .cities_alert_container .search_for_cities {
  color: #5d6976;
  padding-left: 6%;
}
.cities_wrapper .cities_input_wrapper .cities_alert_wrapper .cities_alert_container .not_found {
  color: #ff6f61;
  padding-left: 6%;
}
.cities_wrapper .cities_input_wrapper .cities_alert_wrapper .cities_alert_container .placeholder {
  height: 21px;
}
.cities_wrapper .cities_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.cities_wrapper .cities_list_container .cities_list_wrapper {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  width: 100%;
}
.cities_wrapper .cities_list_container .cities_list_wrapper .cities_list_element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
  width: 70%;
  background-color: #2e3d56;
  border-radius: 1rem;
  font-size: 35px;
}
.cities_wrapper .cities_list_container .cities_list_wrapper .cities_list_element:hover {
  background-color: #202b3c;
  cursor: pointer;
}
.cities_wrapper .cities_list_container .cities_list_wrapper .cities_list_element_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  height: 100%;
  width: 50px;
  padding: 0.4rem;
  background-color: #ff6f61;
  border: none;
}
.cities_wrapper .cities_list_container .cities_list_wrapper .cities_list_element_btn:hover {
  color: #d5dbe1;
  cursor: pointer;
}
.cities_wrapper .cities_list_container .cities_list_wrapper .cities_list_element_btn .list_element_icon {
  font-size: 45px;
}

@media only screen and (min-width: 768px) {
  .cities_input_container,
  .cities_alert_container {
    max-width: 1400px !important;
  }
  .cities_input_container .search_for_cities,
  .cities_input_container .not_found,
  .cities_alert_container .search_for_cities,
  .cities_alert_container .not_found {
    padding-left: 7% !important;
  }
  .cities_list_wrapper {
    max-width: 1400px !important;
  }
}/*# sourceMappingURL=Cities.css.map */